.vagrant

www/assets/

www/default/database-admin/
www/default/memcached-admin/
www/default/opcache-status/
www/default/webgrind/
www/phpcs/
www/wordpress-default
www/wordpress-develop/
www/wordpress-trunk/
www/wp-cli/

database/backups/wordpress_develop.sql
database/backups/wordpress_trunk.sql

critical.php
critical-css.hbs
