// Flags
// =====
@import '_partials/helpers';
@mixin bgSprite() {
  background-image: url('<?php echo assets_url(); ?>/images/sprite.png');

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('<?php echo assets_url(); ?>/images/sprite@2x.png');
    background-size: 79px 35px;
  }
}

html {
  font-family: $body-copy;
  font-size: $base-font-size+px;
}

body {
  @include type-scale(3, 1);
  color: palette(copy);
  margin: 0;
  padding: 12vh 0 rem(11*$baseline) 0;
  position: relative;

  @media (min-height: rem(400)) {
    padding-top: 10vh;
  }
  @media (min-height: rem(600)) {
    padding-top: 8vh;
  }
  @media (min-height: rem(800)) {
    padding-top: 6vh;
  }
}

.type-break {
  @include type-scale(4, 1);
}

.smart-media {
  max-height: 1000%;
  max-width: 1000%;
  position: absolute;
}

// Headings
// ========
h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
  margin-left: auto;
  margin-right: auto;
  max-width: 22em;
}

h1 {
  @include type-scale(7, 1.5);
  margin-bottom: rem(1.5*$baseline);
  margin-top: 0;
  max-width: 16.625em;

  + * {
    margin-top: 0;
  }

  &.no-hero {
    margin-top: rem(1.5*$baseline);
    text-align: center;
  }

  &.no-feature {
    margin-top: rem(1.5*$baseline);
  }
}

// Paragraphs
// ==========
p {
  margin: rem($baseline) auto;
  max-width: 38em;
  min-width: 21em;
}

@import '_partials/header';
@import '_partials/navigation';
@import '_partials/hero';
@import '_partials/results';
