// Flags
// =====
$rems: true;
$svgs: true;
@import '_partials/helpers';

html {
  font-family: $body-copy;
  font-size: $base-font-size+px;
}

body {
  @include type-scale(3, 1);
  color: palette(neutral, copy);
  margin: 0;
  padding-top: rem(3*$baseline);
}

// Headings
// ========
h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
  margin-left: auto;
  margin-right: auto;
  max-width: 22em;
}

h1 {
  @include type-scale(7, 1.5);
  margin-bottom: rem(1.5*$baseline);
  margin-top: 0;
  max-width: 16.625em;

  + * {
    margin-top: 0;
  }
}

// Paragraphs
// ==========
p {
  margin: rem($baseline) auto;
  max-width: 38em;
  min-width: 21em;
}

// Intro
// =====
.intro {
  padding: 0 $gutter;
}

@import '_partials/header';
@import '_partials/navigation';
@import '_partials/hero';
