// Flags
// =====
@import '_partials/helpers';
@mixin bgSprite() {
  background-image: url('../images/sprite.png');

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../images/sprite@2x.png');
    background-size: 54px 162px;
  }
}


@import '_partials/normalize';
@import '_partials/typography';
@import '_partials/footer';
@import '_partials/training';

@import '_partials/posts';
@import '_partials/archive';
@import '_partials/roster';
@import '_partials/fixture';
