$rems: true;
$svgs: true;

// Palette
// =======
$transparent: transparent;
$palette: (
  air: $transparent,
  icewhite: rgb(255, 255, 255),
  jetblack: rgb(0, 0, 0),
  neutral: rgb(70, 70, 70)
);


// Stylesheets
// ===========
@import '_partials/normalize';
@import '_partials/extensions';

@import '_partials/typography';

@import '_partials/header';
@import '_partials/footer';
