// Palette
// =====
$palettes: (
  copy: (
    base: #444,
  ),
);

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}

// Stylesheets
// ===========
@import '_partials/normalize';
@import '_partials/extensions';

@import '_partials/typography';
