.archives {
  background: palette(neutral, verylight);
  padding: 0 $column;

  &__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 38em;

    @media (min-width: 48rem) {
      max-width: 43.428571429em;
    }
  }
}

.archive {
  flex: 1 auto;
  margin-top: rem($baseline);
  margin-bottom: rem($baseline);

  &__title {
    font-size: 10vw;
    line-height: 1;
    text-align: center;

    @media (min-width: rem(600)) {
      font-size: 6vw;
    }
  }

  &__heading {
    @include type-scale(4, 1);
    margin-bottom: rem($baseline/4);
    max-width: 100%;
  }

  &__list {
    margin-bottom: 0;
    margin-top: 0;

    li {
      margin-bottom: rem($baseline/4);
      min-width: 0;
      max-width: 100%;

      &:before {
        display: none;
      }
    }
  }
}
