@mixin background-image($url, $ext) {
    @media (-webkit-max-device-pixel-ratio: 1.9), (max-resolution: 191dpi), (max-resolution: 1.9dppx) {
      background-image: url($url + '.' + $ext);
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url($url + '@2x.' + $ext);
    }
}

%touch-scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
