.fixtures {
  display: block;
  overflow: hidden;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 200%;
  }

  &__fixture {
    margin: $gutter;
    position: relative;
    width: 12.5rem;

    &__link {
      background-position: 110% 110%;
      background-repeat: no-repeat;
      background-size: auto rem(3*$baseline);
      box-sizing: border-box;
      color: inherit;
      display: block;
      padding: rem($baseline/2) $gutter rem(3*$baseline);
      white-space: normal;

      &:active,
      &:focus,
      &:hover,
      &:link,
      &:visited {
        box-shadow: none;
      }

      @media (min-width: 40rem) {
        height: rem(6*$baseline);
      }
    }

  }

  &__date {
    @include type-scale(3, 1);
  }

  &__title {
    @include type-scale(5, 1);
    margin: 0;
    max-width: 100%;
  }
}
