.fixtures {
  display: block;
  height: 7.5rem;
  margin: 0;
  overflow: hidden;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 0 $column;
    width: 200%;
  }

  &__fixture {
    margin: $gutter;
    position: relative;
    width: 12.5rem;

    // &:before,
    // &:after {
    //   border-radius: 100px / 10px;
    //   bottom: 0;
    //   box-shadow: 0 0 20px rgba(0,0,0,0.8);
    //   content: '';
    //   position: absolute;
    //   z-index: -1;
    //   top: 50%;
    //   left: 10px;
    //   right: 10px;
    // }

    // &:after {
    //   left: auto;
    //   right: 10px;
    //   transform: skew(8deg) rotate(3deg);
    // }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &__link {
      background-position: 105% 105%;
      background-repeat: no-repeat;
      background-size: auto rem(2.5*$baseline);
      // border-radius: 3px;
      box-sizing: border-box;
      color: inherit;
      display: block;
      padding: rem($baseline/2) $gutter rem(1.5*$baseline);
      text-shadow: 0 0 10px rgba(palette(jetblack), .5),
                   0 0 2px rgba(palette(jetblack), .5);
      white-space: normal;

      &:active,
      &:focus,
      &:hover,
      &:link,
      &:visited {
        box-shadow: none;
      }
    }

  }

  &__date {
    @include type-scale(3, 1);
  }

  &__title {
    @include type-scale(5, 1);
    margin: 0;
    max-width: 100%;
  }
}
