.masthead {
  background-color: palette(claret);
  border-bottom: rem(2) solid palette(icewhite);
  box-sizing: content-box;
  height: 12vh;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;

  @media (min-height: rem(400)) {
    height: 10vh;
  }
  @media (min-height: rem(600)) {
    height: 8vh;
  }
  @media (min-height: rem(800)) {
    height: 6vh;
  }
  @media (min-height: rem(1000)) {
    height: 4vh;
  }

  &__logo {
    height: 70%;
    left: 50%;
    position: absolute;
    top: 12%;
    transform: translateX(-50%);
    z-index: 4;
  }

  &__jump {
    &:before {
      @include type-scale(8, 1);
      color: palette(icewhite);
      content: '☰';
      display: block;
      padding: 0 rem(14);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-60%);
    }

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: palette(claret);
    }

    @media (min-width: rem(600)) {
      position: absolute;
      right: -100%;
    }
  }
}
