.hero {
  padding: rem($baseline) $gutter 0;
  text-align: center;

  @media (min-width: rem(500)) {
    background-color: palette(jetblack);
    background-image: url('<?php echo assets_url(); ?>/images/hero-2024.jpg');
    background-position: 50% 100%;
    background-size: cover;
    color: palette(icewhite);
    overflow: hidden;
    padding-top: rem(14*$baseline);
  }

  em {
    position: absolute;
    top: -999em;
  }
}
