.hero {
  background-color: palette(jetblack);
  background-position: 50% 0;
  background-size: cover;
  color: palette(icewhite);
  height: 100-12vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  @media (min-height: rem(400)) {
    height: 100-10vh;
  }
  @media (min-height: rem(600)) {
    height: 100-8vh;
  }
  @media (min-height: rem(800)) {
    height: 100-6vh;
  }

  h1 {
    margin: 0;
    max-width: 100%;
    min-width: 0;
    position: absolute;
    text-shadow: 0 0 15px palette(jetblack);
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
  }

  em {
    position: absolute;
    top: -999em;
  }

  .smart-media {
    max-height: 1000%;
    max-width: 1000%;
    position: absolute;
  }

  &--front {
    h1 {
      font-size: 7vw;
    }
  }
}
