$nav-break: rem(600);

.primary-nav {
  @include type-scale(5, 1);
  background-color: palette(claret);
  background-image: url('<?php echo assets_url(); ?>/images/logomark.svg');
  background-position: 50% rem($baseline);
  background-repeat: no-repeat;
  background-size: rem(100) rem(3*$baseline);
  border-bottom: rem(1/$base-font-size) solid palette(claret);
  margin: 0 0 rem(-1);
  max-width: 100%;
  padding-top: rem(4*$baseline);
  pointer-events: none;

  a {
    display: block;
    padding: rem($baseline) $gutter;
    pointer-events: auto;
    transition: background-color $transitionduration, color $transitionduration;

    &:link,
    &:visited {
      color: palette(icewhite);
    }

    &:active,
    &:focus,
    &:hover {
      background-color: palette(icewhite);
      box-shadow: none;
      color: palette(claret);
    }
  }

  @media (min-width: $nav-break) {
    background-color: palette(air);
    background-image: none;
    left: 0;
    letter-spacing: .1em;
    margin: 0;
    padding-top: 0;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 3;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: rem(150);

      &:nth-of-type(2) {
        margin-right: rem(150);
      }
    }

    a {
      display: block;
      font-size: 4vh;
      height: 12vh;
      line-height: 1;
      padding: 4vh 0;

      @media (min-height: rem(400)) {
        font-size: 3vh;
        height: 10vh;
        padding: 3.5vh 0;
      }
      @media (min-height: rem(600)) {
        font-size: 2.5vh;
        height: 8vh;
        padding: 2.75vh 0;
      }
      @media (min-height: rem(800)) {
        font-size: 2vh;
        height: 6vh;
        padding: 2vh 0;
      }
      @media (min-height: rem(1000)) {
        font-size: 1.5vh;
        height: 4vh;
        padding: 1.25vh 0;
      }
    }
  }

  &__home {
    @media (min-width: $nav-break) {
      position: absolute;
      top: -9999em;
    }
  }
}
