.team {
  display: flex;
}

.player {
  background: palette(claret);
  color: palette(icewhite);
  margin: rem($baseline) auto;
  max-width: rem(150);

  table {
    margin: 0;
    max-width: 100%;
    min-width: 0;
  }

  th {
    font-weight: normal;
    text-align: left;
  }

  &__details {
    padding: 0 $gutter;
    position: relative;
  }

  &__name {
    @include type-scale(5, 1);
    margin: 0;
    max-width: 100%;
    min-width: 0;
  }

  &__pic {
    width: 100%;
  }
}
