$layoutbreak1: rem(600);
$layoutbreak2: rem(900);

// Homepage
.posts {
  border-top: rem(1) solid palette(neutral, light);
  margin: 0 $column;
  padding-top: rem($baseline);

  &__post {
    display: flex;
    justify-content: space-around;
    margin-bottom: rem($baseline);

    &__heading {
      @include type-scale(5, 1);
      margin: 0;

      a {
        white-space: normal;

        &:link,
        &:visited {
          box-shadow: inset 0 rem(-1) 0 palette(icewhite);
        }

        &:active,
        &:focus,
        &:hover {
          box-shadow: inset 0 -1.2em 0 palette(claret);
        }
      }
    }

    &__excerpt {
      margin: 0;
      min-width: 0;
    }

    &__copy {
      order: 2;
      width: calc(#{16*$column} - #{$gutter});
    }

    &__pic {
      box-shadow: none;
      margin: 0;
      order: 1;
      overflow: hidden;
      position: relative;
      width: calc(#{8*$column} - #{$gutter});

      img {
        height: 100%;
        left: 50%;
        max-width: 1000%;
        position: absolute;
        top: 0;
        transform: translate(-50%, 0);
      }
    }
  }
}

// Post Page
.post {
  &__date {
    font-weight: 700;
    margin-bottom: 0;
  }

  &__byline {
    margin-bottom: 0;
    margin-top: 0;
  }

  &__photo-credit {
    @include type-scale(2, 1);
    margin-top: 0;
  }

  &__content {
    padding: 0 $column;
  }
}
