$layoutbreak1: rem(600);
$layoutbreak2: rem(900);

.posts {
  margin-bottom: 0;

  @media(min-width: $layoutbreak2) {
    display: flex;
    flex-flow: row wrap;
  }

  h1, h2, p {
    margin: 0 auto;
    max-width: 100%;
    min-width: 0;
  }

  img {
    display: block;
    vertical-align: baseline;
  }

  .button {
    clear: left;
    margin: rem($baseline) auto rem(2*$baseline);
    width: 8*$column;

    @media (min-width: $layoutbreak2) {
      width: 4*$column;
    }
  }

  &__wrapper {
    width: 100%;

    @media(min-width: $layoutbreak1) {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    & + & {
      @media(max-width: rem(899)) {
        display: none;
      }
    }
  }

  &__post {
    display: flex;
    margin-bottom: rem($baseline);

     @media(min-width: $layoutbreak1) {
      width: percentage(1/2);
    }

     @media(min-width: $layoutbreak2) {
      width: percentage(1/3);
    }

    &__copy {
      order: 2;
      padding: 0 $gutter;
      width: percentage(2/3);

      &--dummy {
        p {
          background-color: palette(neutral, verylight);
          display: inline;
        }
      }
    }

    &__heading {
      @include type-scale(5, 1);
      max-width: 100%;

      &--dummy {
        background-color: palette(neutral, verylight);
        display: inline;
      }

      a {
        white-space: normal;

        &:link,
        &:visited {
          box-shadow: inset 0 0 0 palette(claret);
        }

        &:active,
        &:focus,
        &:hover {
          box-shadow: inset 0 -1.2em 0 palette(claret);
          color: palette(icewhite);
        }
      }
    }

    &__date {
      @include type-scale(2, .5);
    }

    &__pic {
      margin: 0;
      order: 1;
      padding: 0 $gutter;
      top: 0;
      width: percentage(1/3);

      &--dummy {
        div {
          background-color: palette(neutral, verylight);
          padding-top: 100%;
          width: 100%;
        }
      }
    }
  }

  > .posts__post {
    color: palette(icewhite);
    display: block;
    padding: 0;
    position: relative;
    text-shadow: 0 0 5px rgba(palette(jetblack), .5);
    width: 100%;

    .posts__post {
      &__copy {
        background: rgba(palette(jetblack), .5);
        bottom: 0;
        padding: rem($baseline/2) $gutter;
        position: absolute;
        right: 0;
        width: 100%;
      }

      &__heading {
        @include type-scale(7, 1.5);
        margin-left: $gutter;

        a {
          box-shadow: inset 0 0 0 palette(claret);
        }
      }

      &__pic {
        height: auto;
        padding: 0;
        position: static;
        width: 100%;
      }
    }

    p {
      margin-left: $gutter;
    }

    a {
      box-shadow: inset 0 rem(-1) 0 palette(icewhite);

      &:before {
        content: ' ';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &:link {
        color: inherit;
      }

      &:visited {
        color: palette(neutral, light);
      }

      &:active,
      &:focus,
      &:hover {
        color: palette(claret);
        box-shadow: inset 0 -1.2em 0 palette(icewhite);
        text-shadow: none;
      }
    }
  }

  &--front {
    margin-bottom: 0;

    .posts {
      &__wrapper:first-of-type {
        @media(min-width: $layoutbreak2) {
          flex-flow: column;
          justify-content: space-between;
          width: 8*$column;

          .posts__post {
            width: 100%;
          }
        }
      }
    }

    .posts__post:nth-of-type(3) {
      @media(max-width: rem(899)) {
        display: none;
      }
    }

    > .posts__post {
      @media(min-width: $layoutbreak2) {
        padding: 0 $gutter;
        width: 16*$column;
      }

      .posts__post__copy {
        @media(min-width: $layoutbreak2) {
          left: $gutter;
          right: $gutter;
          width: auto;
        }
      }
    }
  }
}

.post {
  &__pic {
    margin-top: 0;
  }

  &__hgroup {
    padding: 0 $column;
  }

  &__content {
    padding: 0 $column;
  }

  &__footer {
    padding: 0 $column;
  }

  &__title {
    margin-bottom: 0;
  }
}
