.training {
  box-sizing: border-box;
  position: relative;

  h1 {
    color: palette(icewhite);
    margin: 0 auto;
    min-width: 0;
    position: relative;
    text-align: center;
    z-index: 1;
  }

  address {
    margin: 0;
  }

  &__session {
    padding: rem($baseline) $column rem(12*$baseline);
    position: relative;

    &:first-of-type {
      margin-top: rem(-4*$baseline);
      padding-top: rem(5*$baseline);
    }

    h1 {
      color: palette(neutral);
      text-align: left;
    }
  }

  &__info {
    background-color: palette(icewhite);
    padding: rem($baseline) $gutter;
    position: relative;
    z-index: 1;
  }

  &__directions {
    &--active {
      font-weight: 700;
    }

    &--processing {
      color: palette(claret);
    }
  }

  &__map {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &--stacked {
    .training {
      &__session {
        padding-bottom: rem(2*$baseline);
      }

      &__info {
        width: 10*$column;
      }
    }
  }
}
