.training {
  @include clearfix();
  margin-top: rem(3*$baseline);
  position: relative;

  h1 {
    @include type-scale(9, 2);
    margin: 0 auto;
    min-width: 0;
    position: relative;
    text-align: center;
    z-index: 1;
  }

  h2 {
    @include override-margin-after();
    margin: 0;
  }

  h1, h2, h3, p, li {
    min-width: 0;
  }

  address {
    margin: 0 0 rem($baseline);
    font-style: normal;
  }

  &__google {
    @include style-as-link();
    border: 0;
    background-color: palette(air);
    bottom: 0;
    padding: rem($baseline/2) 2em;
    position: absolute;
    right: 0;

    &:visited {
      color: palette(claret);
    }

    &:active,
    &:focus,
    &:hover {
      box-shadow: inset 0 rem(-2*$baseline) 0 palette(claret);
      outline: none;
    }
  }

  &__info {
    background-color: rgba(palette(icewhite),.8);
    padding: $gutter $gutter rem(1.5*$baseline);
    position: relative;
    z-index: 1;
  }

  &__venue {
    display: inline;
  }

  &__trigger {
    @include type-scale(3, 1.5);
    @include style-as-link();
    cursor: pointer;
    overflow: hidden;
    padding: 0 $gutter;
    position: relative;

    &:after {
      background-image: url(../images/training_process.gif);
      background-position: 1% 50%;
      background-size: 20px 20px;
      content: ' ';
      display: block;
      height: 20px;
      position: absolute;
      right: -100em;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
    }

    &:active,
    &:focus,
    &:hover,
    &--active,
    &--processing {
      box-shadow: inset 0 rem(-1.5*$baseline) 0 palette(claret);
      color: palette(icewhite);
    }

    &--processing {
      &:after {
        right: 1em;
      }
    }
  }

  &__postcode {
    margin-top: rem($baseline/2);
    position: relative;

    button {
      background-color: palette(neutral, light);
      border: 0;
      border-radius: rem($baseline/2);
      color: palette(icewhite);
      content: '>';
      display: block;
      height: rem(18);
      left: rem(151);
      line-height: rem(18);
      padding: 0;
      position: absolute;
      text-align: center;
      text-indent: .1em;
      transform: translateY(-50%);
      top: 50%;
      width: rem(18);
      z-index: 3;

      &:active,
      &:focus,
      &:hover {
        background-color: palette(claret);
        outline: none;
      }
    }

    [type="text"] {
      border: 1px solid palette(neutral, light);
      border-radius: 0;
      box-sizing: content-box;
      height: rem($baseline);
      line-height: rem($baseline);
      padding-left: $gutter;
      padding-right: $gutter;
      position: relative;
      -webkit-appearance: none;
      width: rem(160);
      z-index: 2;

      &:active,
      &:focus,
      &:hover {
        border-color: palette(claret);
        outline: none;

        & + button {
          background-color: palette(claret);
        }
      }
    }
  }

  &__message {
    @include type-scale(3, 1);
    background-color: palette(claret);
    border-radius: 0 0 rem(3) rem(3);
    color: palette(icewhite);
    left: 0;
    padding: rem(2) $gutter 0;
    position: absolute;
    top: 0;
    transform: translate3d(0,0,0);
    transition: transform 500ms;
    z-index: 1;

    &--error {
      transform: translate3d(0,rem($baseline),0);
    }
  }

  &__map {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__session {
    border-bottom: rem(3) solid palette(icewhite);
    height: rem(36*$baseline);
    padding: rem($baseline) $column;
    position: relative;

    &:first-of-type {
      margin-top: rem(-3*$baseline);
      padding-top: rem(4*$baseline);
    }

    h1 {
      @include type-scale(7, 1.5);
      color: palette(neutral);
      text-align: left;
    }

    &--stacked {
      height: auto;
      height: rem(28*$baseline);

      .training__info {
        width: 10*$column;
      }
    }

    @media (min-width: rem(1024)) {
      float: left;
      width: 50%;

      &:nth-of-type(even) {
        border-left: rem(3) solid palette(icewhite);
      }

      &:nth-of-type(2) {
        margin-top: rem(-3*$baseline);
        padding-top: rem(4*$baseline);
      }

      &:last-of-type {
        clear: left;
        width: 100%;

        .training__info {
          width: 5*$column;
        }
      }
    }
  }
}
