// Base
// ====
html {
  box-sizing: border-box;

  * {
    box-sizing: inherit;

    &:before,
    &:after {
      box-sizing: inherit;
    }
  }
}

main {
  margin: 0;
  padding: 0;
}

// Headings
// ========
h1, h2, h3, h4, h5, h6 {
  @include override-margin-after();
  font-feature-settings: 'lnum' 1, 'pnum' 1;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 600;
  letter-spacing: .2em;
  text-transform: uppercase;
}

h1 {
  .type-break & {
    @include type-scale(8, 1.5);
    max-width: 16.888888889em;
  }
}

h2 {
  @include type-scale(6, 1);
  margin-bottom: rem($baseline/2);
  margin-top: rem($baseline);
  max-width: 22.166666667em;

  .type-break & {
    @include type-scale(7, 1.5);
    max-width: 19em;
  }
}

h3 {
  @include type-scale(5, 1);
  margin-bottom: 0;
  max-width: 25.333333333em;

  .type-break & {
    @include type-scale(6, 1);
    max-width: 25.333333333em;
  }
}

h4 {
  @include type-scale(4, 1);
  margin-bottom: 0;
  max-width: 33.25em;

  .type-break & {
    @include type-scale(5, 1);
    max-width: 28.952380952em;
  }
}

// Paragraphs
// ==========
p {
  font-feature-settings: 'onum' 1, 'pnum' 1;
  font-variant-numeric: oldstyle-nums proportional-nums;
}

// Lists
// =====
ul,
ol,
dl,
nav,
menu {
  list-style: none;
  margin: rem($baseline) auto;
  max-width: 38em;
  padding-left: 0;
}

li {
  &:before {
    position: absolute;
  }

  ul,
  ol {
    margin: 0;
  }

  li {
    margin-left: 2em;
  }
}

ul li:before {
  content: '•';
  margin-left: -.75em;
}

ol {
  counter-reset: olcounter;

  li {
    counter-increment: olcounter;

    &:before {
      @include type-scale(2, 1);
      content: counter(olcounter);
      margin-left: -1em;
    }
  }
}

dt {
  font-feature-settings: 'lnum' 1, 'pnum' 1;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
}

dd {
  margin-left: 2em;
}

// Tables
// ======
table {
  font-feature-settings: 'lnum' 1, 'tnum' 1;
  font-variant-numeric: lining-nums tabular-nums;
  margin: rem($baseline) auto;
  max-width: 38em;
  min-width: 19em;
  width: 100%;
}

td, th {
  text-align: left;
}

// Quotes
// ======
blockquote {
  margin: rem($baseline) auto;
  max-width: 38rem;
  padding: 0;

  > p:first-of-type {
    margin-top: 0;
    position: relative;

    &:before {
      @include type-scale(5, 1);
      content: '“';
      display: block;
      font-weight: 100;
      left: -.5em;
      position: absolute;
    }
  }

  > p:last-of-type {
    margin-bottom: 0;

    &:after {
      @include type-scale(5, 1);
      content: '”';
      display: inline;
      font-style: normal;
      font-weight: 100;
      margin-left: .2em;
      position: absolute;
    }
  }
}

// Elements
// ========
i {
  font-style: inherit;
}

b {
  font-weight: inherit;
}

abbr {
  cursor: help;

  &[title] {
    border-bottom-width: 0;
  }
}

address {
  margin: rem($baseline) auto;
  max-width: 38em;
}

pre {
  margin: rem($baseline) auto;
  max-width: 38em;
}

img {
  max-width: 100%;
}

figure {
  margin: rem($baseline) 0;
}

.acronym,
.hour,
.postcode {
  letter-spacing: .1em;
  text-transform: uppercase;
  white-space: nowrap;
}

// Links
// =====
a {
  @include style-as-link();
}

.button {
  @include type-scale(4, 1);
  border: rem(3) solid palette(claret);
  box-shadow: inset 0 0 0 palette(claret);
  display: block;
  font-family: $heading;
  letter-spacing: .1em;
  padding: rem($baseline/4) 1rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  &:visited {
    color: palette(claret);
  }

  &:active,
  &:focus,
  &:hover {
    box-shadow: inset 0 -2.4em 0 palette(claret);
    color: palette(icewhite);
  }

  &--light {
    border-color: palette(icewhite);

    &:link,
    &:visited {
      box-shadow: inset 0 0 0 palette(icewhite);
      color: palette(icewhite);
    }

    &:active,
    &:focus,
    &:hover {
      box-shadow: inset 0 -2.4em 0 palette(icewhite);
      color: palette(claret);
    }
  }
}

// Specials
// ========
.important {
  background-color: adjust-color(palette(warning), $lightness: 46%);
  border: 1px solid palette(warning);
  border-radius: 5px;
  color: palette(jetblack);
  margin: rem($baseline/4) 0;
  padding: rem($baseline/4) $gutter;
}

// Intro
// =====
.intro {
  background-color: palette(claret);
  color: palette(icewhite);
  height: 100-12vh;
  margin-bottom: rem($baseline);
  padding: 0;
  position: relative;
  text-align: center;

  @media (min-height: rem(400)) {
    height: 100-10vh;
  }
  @media (min-height: rem(600)) {
    height: 100-8vh;
  }
  @media (min-height: rem(800)) {
    height: 100-6vh;
  }

  @media (min-width: rem(600)) {
    @include type-scale(4, 1);
  }

  @media (min-width: rem(800)) {
    @include type-scale(5, 1.5);
  }

  @media (min-width: rem(1000)) {
    @include type-scale(6, 1.5);
  }

  &__wrapper {
    left: 50%;
    max-width: 38em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 1.5rem);
  }

  p {
    margin: rem($baseline/2) auto;
    min-width: 0;
  }

  &__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: rem($baseline) 0;
  }

  .button {
    margin: rem($baseline/2) rem($baseline);
    min-width: rem(250);
  }
}
