// Typography
// ==========
$body-copy: 'Vitesse A', 'Vitesse B', Georgia;
$heading: 'Tungsten A', 'Tungsten B', Verdana;
$base-font-size: 16;

// Grid
// ====
$column: percentage(1/24);
$baseline: 24;
$gutter: rem(7);

@import 'type-scale';

// Palette
// =======
$transparent: transparent;
$palette: (
  air: $transparent,
  icewhite: rgb(255, 255, 255),
  jetblack: rgb(0, 0, 0),
  neutral: (
    light: rgb(200, 200, 200),
    verylight: rgb(240, 240, 240),
    copy: rgb(70, 70, 70)
  ),
  warning: rgb(255,216,0),

  claret: rgb(92, 4, 37),
);

// Animations
// ==========
$transitionduration: 150ms;
